* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  height: 100vh;
  background-image: url("../imgs/img.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[class$="container"] {
  width: 90%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.nav-links__link {
  list-style: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.nav-links__link:hover {
  cursor: pointer;
}

.nav-links__link a {
  text-decoration: none;
  color: white;
}

.shadow {
  box-shadow: -4px 4px 18px 5px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -4px 4px 18px 5px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -4px 4px 18px 5px rgba(0, 0, 0, 0.32);
}

.button-main {
  align-self: center;
  text-transform: uppercase;
  padding: 2rem 3rem;
  font-size: 18px;
  width: 60%;
  color: #391acc;
  border: 1px solid #bbe3e1;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button-main:hover {
  transform: scale(1.03);
}

.footer {
  width: 100%;
  background-color: #04d2ce;
  height: 20vh;
}

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footers__links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer__empresa-info {
  display: flex;
  flex-direction: column;
}

.footer__empresa-info h1,
.footer__empresa-info h2 {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footers__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.footers__links-legal {
  width: 100%;
  gap: 3rem;
}

.footers__links-legal li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}

.card img {
  width: 150px;
}

.card h2 {
  color: #391acc;
  font-family: "Montserrat", sans-serif;
}

.card p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.title {
  color: #04d1cf;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
